{% extends "main.html" %}

{% block profile %}{% endblock profile %}
{% block postkomlike %}{% endblock postkomlike %}
{%block posty %}

<div class="w3-row-padding">
    <div class="w3-col m12">
    <div class="w3-card w3-round w3-white">
        <div class="w3-container w3-padding">
        <h2 class="w3-opacity">Wysłano maila do zresetowania hasła</h2>
            <p>Wysłaliśmy maila z instrukcjami jak zresetować hasło, jeśli konto z podanym mailem istnieje.</p>      
        </div>
    </div>
    </div>
</div>



  
{% endblock %}