{% extends 'main.html' %}
{% block head %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/profile_card.css' %}"/>
{% endblock %}
{% block posty %}
<div class="container">
    {% for profile in profile_list %}
    <a href="/profile/{{profile.pk}}" style="text-decoration: none; color:black;">
    <div class="container mt-5 d-flex justify-content-center">
        <div class="card p-3">
            <div class="d-flex align-items-center">
                <div class="image"> <img src="{{profile.profile_img.url}}" class="rounded" width="155"> </div>
                <div class="ml-3 w-100">
                    <h4 class="mb-0 mt-0">{{profile.name}} {{profile.surr_name}}</h4> <span>{{profile.bio}}</span>
                    <div class="p-2 mt-2 bg-primary d-flex justify-content-between rounded text-white stats">
                       
                        <div class="d-flex flex-column"> <span class="followers">Followers</span> <span class="number2"></span> {{profile.get_friends_no}} </div>
                  
                    </div>
                    <div class="button mt-2 d-flex flex-row align-items-center"> 
                        <form method="POST" action='{% url 'add-friend' %}'>
                        {% csrf_token %}
                        <input type="hidden" name="profile_pk" value="{{profile.pk}}" />
                        <input type="submit" value="add to friends" class="btn btn-sm btn-primary w-100 ml-2" > 

                        </form>

                        
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</a>
    {% endfor %}

</div>
{% endblock posty %}

{% block profile %}

    <div class="w3-card w3-round w3-white">
        <div class="w3-container">
            {% for objct in now_u %}
                {% if request.user == objct.user %}
                    <h4 class="w3-center">{{objct.name}}</h4>        
                    <p class="w3-center"><img src="{{objct.profile_img.url}}" class="w3-circle" style="height:106px;width:106px"></p>
                    <hr>
                    <p> {{objct.bio}}</p>
                {% endif %}
            {% endfor %}
        </div>
    </div>


{% endblock profile %}

{% block postkomlike %}{% endblock postkomlike %}