{% extends 'main.html' %}

{% block profile %}{% endblock profile %}
{% block postkomlike %}{% endblock postkomlike %}

{% block posty %}

{% comment %} <h3>Delete Post</h3>

{% if messages %}

    {% for message in messages %}
        {% if 'warning' in message.tags %}
            {{message}}
        {% endif %}
    {% endfor %}
{% endif %}

{% if not messages %}

    <h3>Delete Post?</h3>
    <form action="" method='POST'>{% csrf_token %}
        <button type='submit' class='w3-btn'>Usuń</button>
    </form>

{% endif %}
 {% endcomment %}
<div class="w3-row-padding">
    <div class="w3-col m12">
    <div class="w3-card w3-round w3-white">
        <div class="w3-container w3-padding">
        <h2 class="w3-opacity">Delete Post?</h2>
            {% if messages %}
                {% for message in messages %}
                    {% if 'warning' in message.tags %}
                        {{message}}
                    {% endif %}
                {% endfor %}
            {% endif %}
            <form class='w3-container' action="" method="POST">{% csrf_token %}
                <button type="submit" class="w3-button w3-theme">Delete</button> 
            </form>
        </div>
    </div>
    </div>
</div>




{% endblock posty %}



