{% extends 'base.html' %}

{% block content %}




{% for obj in post_obj %}

    <p>
        {{obj.content}}
        {% if obj.post_img %}
        <img src={{obj.post_img.url}}>
        {% endif %}
    </p>

    <div>
        {% if obj.comment_set.all %}
            {% for c in obj.comment_set.all %}
                <p>{{c.com_body}}</p>
        
            {% endfor %}
        {% endif %}
    </div>

    <form action='' method='POST'>{% csrf_token %}
        <input type='hidden' name='post_id' value={{obj.id}}>
        {{com_form}}
        <input type='submit' name='submit_com_form' value='Comment'>
    </form>


{% endfor %}

<form action="" method="POST" enctype="multipart/form-data">{% csrf_token %}
    {{post_form}}
    <input type="submit" name='submit_post_form' value="Post">
</form>


{% endblock %}