{% extends 'main.html' %}

{% block profile %}{% endblock profile %}

{% block posty %}
    <div class="w3-row-padding">
        <div class="w3-col m12">
        <div class="w3-card w3-round w3-white">
            <div class="w3-container w3-padding">
            <h6 class="w3-opacity">Update post</h6>
                <form action="" method="POST" enctype="multipart/form-data">{% csrf_token %}
                    <p>{{form.content}}</p>
                    <p>{{form.post_img}}</p>
                    <button type="submit" class="w3-button w3-theme">Update</button> 
                </form>
            </div>
        </div>
        </div>
    </div>
{% endblock posty %}

{% block postkomlike %}{% endblock postkomlike %}

{% comment %} {% block content %}

    <h3>Update post</h3>
    <form action="" method="POST" enctype="multipart/form">{% csrf_token %}
        {{form}}
        <button type='submit' class='w3-btn'>Update</button>


    </form>

{% endblock content %} {% endcomment %}